.post {
    .hero {
        @media screen and (max-width: $medium) {
            margin-bottom: 0px;
        }
        &__text {
            &__post-type {
                display: inline-block;
                font-size: 20px;
                line-height: 25px;
                font-weight: bold;
                color: $white;
                margin-bottom: 20px;

                @media screen and (max-width: $small) {
                    margin-bottom: 15px;
                }
            }
            h1 {
                margin-bottom: 40px;

                @media screen and (max-width: $medium) {
                    font-size: 43px;
                    line-height: 45px;
                }
                @media screen and (max-width: $small) {
                    font-size: 30px !important;
                    line-height: 35px !important;
                    margin-bottom: 25px;
                }
                br {
                    @media screen and (max-width: $small) {
                        display: none;
                    }
                }
            }
            &__author {
                display: flex;
                align-items: center;

                &__img {
                    margin-right: 20px;
					width: 66px;
					height: 66px;

					img {
						width: 100%;
						border-radius: 50%;
					}
                }
                &__name {
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: bold;
                    color: $white;
                    display: block;
                }
                &__date {
                    font-size: 14px;
                    line-height: 19px;
                    color: $white;
                    display: block;
                }
            }
        }
    }
    .related-posts {
        margin-top: 160px;

        @media screen and (max-width: $small) {
            margin-top: 130px;
        }
        h3 {
            font-size: 30px;
            line-height: 30px;
        }
    }
}
.article-post {
    margin-top: -150px;

    .hero {
        background-color: transparent;
        position: relative;

        &__img {
            position: relative;

            @media screen and (max-width: $large) {
                height: 700px;
            }
            @media screen and (max-width: $small) {
                height: 615px;
            }
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .6);
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 1;
            }
            img {
                width: 100%;

                @media screen and (max-width: $large) {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            width: 100%;
            z-index: 1;
            padding: 0px 100px;

            @media screen and (max-width: 1400px) {
                top: 60%;
            }
            @media screen and (max-width: $large) {
                top: 50%;
            }
            @media screen and (max-width: $medium) {
                padding: 0px 5%;
            }
            @media screen and (max-width: $small) {
                top: auto;
                bottom: 55px;
                transform: none;
            }
        }
    }
}
.podcast-post {
    .hero {
        background-color: #0C46C0;
        
        &__text {
            padding: 60px 5%;
            max-width: 1350px;
            width: 90%;
            margin: 0px auto;

            @media screen and (max-width: $small) {
                padding: 70px 5%;
            }
            h1 {
                font-size: 43px;
                line-height: 45px;
                color: $white;
            }
        }
    }
    .audio {
        background-color: $black;
        padding: 35px 0px;

        @media screen and (max-width: $small) {
            padding: 20px 0px;
        }
        .container {
            line-height: 1;
        }
        audio {
            width: 100%;
            
            &::-webkit-media-controls-current-time-display, &::-webkit-media-controls-time-remaining-display {
                font-family: $raleway;
            }
        }
		p {
			font-weight: bold;
			color: $white;
			margin: 0px;
			padding: 20px 0px;
			line-height: 22px;

			a {
				color: $white;
				text-decoration: underline;

				&:after {
					display: none;
				}
			}
		}
    }
}
.article-body {
    padding-top: 120px;

    @media screen and (max-width: $medium) {
        padding-top: 100px;
    }
    @media screen and (max-width: $small) {
        padding-top: 80px;
    }
    .container {
        max-width: 1000px;
        margin: 0px auto;
    }
    .author-info {
        max-width: 740px;
        margin: 0px auto;

        h2 {
            border-bottom: 2px solid #E4E4E4;
            margin-bottom: 40px;

            @media screen and (max-width: $small) {
                margin-bottom: 30px;
            }
        }
    }
    h1, h2, h3, h4, h5, h6 {
        max-width: 740px;
        margin: 0px auto;
        padding-bottom: 10px;
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h2 {
        font-size: 25px;
        line-height: 35px;
    }
    h3 {
        font-size: 22px;
        line-height: 32px;
    }
    h4 {
        font-size: 20px;
        line-height: 30px;
    }
    h5 {
        font-size: 18px;
        line-height: 28px;
    }
    h6 {
        font-size: 16px;
        line-height: 26px;
    }
    article {
        margin-bottom: 130px;

        @media screen and (max-width: $small) {
            margin-bottom: 60px;
        }
    }
    p, ul, ol, blockquote {
        max-width: 740px;
        margin: 0px auto 40px;
        font-size: 18px;
        line-height: 43px;

        @media screen and (max-width: $small) {
            font-size: 14px;
            line-height: 35px;
            margin: 0px auto 25px;
        }
    }
	ul, ol {
        li {
			font-size: 18px;
			line-height: 43px;

			@media screen and (max-width: $small) {
				font-size: 14px;
				line-height: 35px;
			}
			&:before {
				top: 22px;

				@media screen and (max-width: $small) {
					top: 17px;
				}
			}
		}
	}
    ul {
        padding-left: 60px;
    }
    ol {
        padding-left: 30px;
    }
	a {
		color: $light-blue;
		text-decoration: underline;

		&:after {
			display: none;
		}
	}
    .video {
        margin: 90px 0px;

        @media screen and (max-width: $small) {
            margin: 60px 0px;
        }
        &:hover {
            .video__poster__play {
                transform: translate(-50%, -50%) scale(1.15);
            }
        }
        &__container {
            @include aspect-ratio(16, 9);
            overflow: hidden;

            @media screen and (max-width: $small) {
                @include aspect-ratio(360, 474);
            }
        }
        &__poster {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            width: 100%;
            cursor: pointer;

            img {
                width: 100%;
            }
            &__play {
                width: 112px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1);
                transition: .15s ease-in-out;
            }
        }
        &__file {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
                background-color: $black;
            }
        }
        &__caption {
			margin-bottom: -10px;

            p {
                max-width: none;
                font-size: 14px;
                line-height: 20px;
                color: #7C7C7C;
                margin-top: 20px;
                margin-bottom: 0px;

                @media screen and (max-width: $small) {
                    margin-top: 10px;
                }
            }
        }
    }
	.image {
		margin: 90px 0px;

        @media screen and (max-width: $small) {
            margin: 60px 0px;
        }
		&.center {
			text-align: center;
		}
		img {
			max-width: 100%;
		}
		&__caption {
			margin-bottom: -10px;

            p {
                max-width: none;
                font-size: 14px;
                line-height: 20px;
                color: #7C7C7C;
                margin-top: 20px;
                margin-bottom: 0px;

                @media screen and (max-width: $small) {
                    margin-top: 10px;
                }
            }
        }
	}
    .share {
        p {
            font-size: 18px;
            line-height: 25px;
            font-weight: bold;
            margin-bottom: 20px;

            @media screen and (max-width: $small) {
                margin-bottom: 15px;
            }
        }
        ul {
            padding: 0px;
            margin-bottom: 0px;
            display: flex;

            li {
                margin-right: 10px;

                @media screen and (max-width: $small) {
                    margin-right: 20px;
                }
                &:last-of-type {
                    margin-right: 0px;
                }
                &:before {
                    display: none;
                }
                a {
                    &:hover {                        
                        img {
                            transform: scale(1.1);
                        }
                    }
                    &:after {
                        display: none;
                    }
                    img {
                        transform: scale(1);
                        transition: .3s ease-in-out;
                    }
                }
            }
        }
    }
}