// ----------------------  SITE COLORS  ----------------------

$blue:          #0052CC;
$light-blue:    #3371F2;
$green:         #8CC449;
$light-gray:    #E8E8E8;
$gray:          #969696;
$dark-gray:     #0E1B32;
$black:         #000000;
$white:         #ffffff;


// ----------------------  TYPEFACES  ----------------------

$raleway:         'Raleway', Helvetica, Arial, sans-serif;
$roboto:          'Roboto', Helvetica, Arial, sans-serif;


// ----------------------  BREAKPOINTS  ----------------------

$x-large:   1500px;
$large:     1200px;
$medium:    900px;
$small:     550px;